<div class="reset-password-container">
  <h2>Cambio de Contraseña</h2>
  <form (ngSubmit)="resetPassword()">
    <input type="text" [(ngModel)]="token" name="token" placeholder="Token" required>
    <input type="password" [(ngModel)]="newPassword" name="newPassword" placeholder="Nueva Contraseña" required>
    <input type="password" [(ngModel)]="confirmPassword" name="confirmPassword" placeholder="Confirmar Contraseña" required>

    <button type="submit">Cambiar Contraseña</button>

    <p *ngIf="message" class="success-message">{{ message }}</p>
    <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
  </form>

  <p class="link" (click)="goToLogin()">Volver al Login</p>
</div>
