<div class="forgot-password-container">
  <h2>Recuperación de Contraseña</h2>
  <input type="email" [(ngModel)]="correo" placeholder="Correo" required>
  <button (click)="recoverPassword()">Enviar</button>

  <p *ngIf="message" class="success-message">{{ message }}</p>
  <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>

  <div class="navigation-buttons">
    <button (click)="goToLogin()" class="secondary-button">Regresar al Login</button>
    <button (click)="goToRegister()" class="secondary-button">Ir a Registrarse</button>
  </div>
</div>
